body {
    background-color: rgb(1, 1, 26);
    color: antiquewhite;
}

div {
    display: flex;
}

.logo {
    color: rgb(167, 153, 136);
}

.header-section {
    background-color: rgb(2, 2, 39);
    font-size: 40px;
    font-weight: 700;
    padding: 10px;
    justify-content: flex-start;
}

.hero-section {
    justify-content: space-between;
}

.hero-text-content {
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    justify-content: center;
}

h1 {
    font-size: 50px;
    margin: 0px;
}

.hero-text-para {
    color: rgb(187, 176, 161);
    font-style: oblique;
}

.hero-text-button {
    background-color: rgb(26, 46, 100);
    font-size: 30px;
    border-style: solid;
    border-width: 3px;
    border-color: rgb(37, 43, 134);
    border-radius: 5px;
    height: 50px;
    width: 140px;
    padding: 5px;
    color: rgb(255, 255, 255);
}

.hero-image {
    width: 300px;
    margin: 3px;
}

.info-section {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 40px;
}

.info-heading {
    display: flex;
    justify-content: center;
}

.info-cards {
    display: flex;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 10%;
    background-color: rgb(2, 16, 59);
    border-radius: 5px;
    padding: 5px;
    justify-content: center;
}

.info-image {
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(32, 20, 75);
}

.card-image {
    height: auto;
    width: 200px;
}

.info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3,h4 {
    margin-top: 3px;
    margin-bottom: 3px;
    opacity: 0.6;
}

h4 {
    font-size: 15px;
    opacity: 0.4;
}